<div style="display: flex">
  <div *ngFor="let month of months.slice(0, 4)" style="flex: 1">
    <app-mini-month
      (onClickDay)="onClickDay.emit($event)"
      [month]="month"
    ></app-mini-month>
  </div>
</div>

<div style="display: flex">
  <div *ngFor="let month of months.slice(4, 8)" style="flex: 1">
    <app-mini-month
      (onClickDay)="onClickDay.emit($event)"
      [month]="month"
    ></app-mini-month>
  </div>
</div>

<div style="display: flex">
  <div *ngFor="let month of months.slice(8, 12)" style="flex: 1">
    <app-mini-month
      (onClickDay)="onClickDay.emit($event)"
      [month]="month"
    ></app-mini-month>
  </div>
</div>
